<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <!-- Import CSS from Flask --> 
        <link rel="stylesheet" href="{{ url_for('static', filename='rules.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- Create top header  --> 
        <div class="header">

            <!-- LINKS!  --> 
            <div class="header-right">
                <a class="active" href="{{ base_url }}/">Scoreboard</a>
                <a class="active" href="{{ base_url }}/registration">Registration</a>
                <a class="active" href="{{ base_url }}/rules">Rules</a>
            </div>
    
            <!-- Create channel name header  --> 
            <div class="header-logo">{{ title }}</div>
            <!-- Project logo  --> 
            <div class="project_logo">King of the Hill</div>
        </div>
    </head>
    <body>
        <div class="rules">
            <h1>Objective</h1>
            <p>The objective of the King of the Hill Capture the Flag (KotH CTF) event is for users to capture and defend a designated "hill" or control point, in this case, an end host while simultaneously trying to steal flags from other users.</p>

            <h1>Rules</h1>
            <ul>
                <li>Users will not target this web page, this will result in immediate disqualification.</li>
            </ul>
            
            <h1>What do do with your token</h2>
            <p>A magical description here.</p>
        </div>
    </body>
</html>